/* Contains the special buttons and numbered buttons */
.score-button-grid {
    display: flex;
    flex-direction: column;
}

/* This is to create the 5 column grid.
 * 5 by 4 grid, for numbered buttons */
.numbered-buttons {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
}

/* The actual numbered button */
.numbered-button {
    padding: 2vw;
    font-size: 1.4em;
    font-weight: bold;
    width: 100%;
    background-color: rgb(5, 35, 44);
    border-radius: 3px;
    border: none;
    color: white;
    box-sizing: border-box;
}

.numbered-button:hover{
    background-color:rgb(34, 102, 122);
}

/* This is to align the special buttons in a single row */
.special-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 2%;
}

/* The actual special button */
.special-button {
    font-size: 1.4em;
    padding: 2vw;
    width: 100%;
    background-color: rgb(15, 66, 82);
    border-radius: 3px;
    border: none;
    color: white;
    box-sizing: border-box;
}

.special-button:hover {
    background-color: rgb(34, 102, 122);
}

/* Bulls buttons container (width of the special-buttons row) */
.bullseye-buttons {
    display: flex;
    gap: 2%;
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
}

/* The Bullseye buttons themselves */
.bull-button {
    font-size: 1.4em;
    padding: 3vw;
    width: 100%;
    background-color: rgb(15, 66, 82);
    border-radius: 3px;
    border: none;
    color: white;
    box-sizing: border-box;
}

.bull-button:hover {
    background-color: rgb(34, 102, 122);
}