
.playerCard{
    background-color: rgb(11, 36, 59);
    color: white;
    display: flex;
    padding: 10px;
    gap: 20px;
    flex-direction: column;
}

.pointBox{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid 1px #ccc;
    background-color: rgba(5, 35, 53, 0.842);
    padding: 10px 0;
}

.playerPoints{
    display: flex;
}

.pointSigns{
    align-self: center;
    font-size: 2em;
    font-weight: bold;
}

.pointInput{
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    width: 60%;
    text-align: center;
    outline: none;
    background-color: rgba(245, 245, 245, 0);
    border: none;
    border-bottom: 2px solid rgb(59, 72, 80);
}

.userName{
    font-weight: bold;
    font-size: 1.5em;
}

.turnHighlight{
    background-color: rgba(24, 69, 97, 0.842); 
    border-left: solid 5px #628ea7;
}

.playerCardTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.historyModal{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.445);
    position: fixed;
    z-index: 1;
}
.historyModalContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    background-color: #010d13;
    margin: 15% auto;
    height: fit-content;
    width: fit-content;
}

.historyRecordInput{
    font-size: 1em;
    width: 8vw;
    padding: 10px;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.37);
}

.historyTableHeaders{
    background-color: rgb(6, 23, 39);
}

.historyTableBody{
    background-color: rgba(23, 59, 80, 0.226);
}

.historyHeader{
    text-align: start;
    font-size: 1.1em;
    padding: 10px;
}

.historyInfoHeaders{
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.close{
    align-self: start;
    background-color: rgb(216, 77, 77);
    color: white;
    border: none;
    font-size: 1.3em;
    padding: 5px 10px;

}