
.playerCard{
    background-color: rgb(11, 36, 59);
    color: white;
    display: flex;
    padding: 10px;
    gap: 20px;
    flex-direction: column;
}

.pointBox{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid 1px #ccc;
    background-color: rgba(5, 35, 53, 0.842);
    padding: 10px 0;
}

.playerPoints{
    display: flex;
}

.pointSigns{
    align-self: center;
    font-size: 2em;
    font-weight: bold;
}

.pointInput{
    width: 20%;
    background-color: whitesmoke;
    border-color: black;
}

.userName{
    font-size: 1.5em;
}

.point{
    font-weight: bold;
    font-size: 1.3em;
}