.gameMenuContainer{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(5, 32, 49);
  height: 100vh;
}

.gameContainer{
  padding: 0 20vw;
  display: flex;
  height: 100vh;
  align-items: center;
  background-color: rgb(3, 25, 32);
}

.flexWrapper{
  display: flex;
  gap: 2vh;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.gameInfoWrapper{
  display: flex;
  gap: 1vw;
  justify-content: center;
  align-items: start;
}

.gameSettings{
  width: 50%;
  font-size: 1.5em;
  background-color: rgb(23, 54, 83);
  color: white;
  padding: 20px;
}

.gameHeader{
  color: white;
  font-weight: bold;
  font-size: 2em;
}

.error{
  color: rgb(230, 51, 51);
  font-size: 0.6em;
  font-weight: bold;
}

.playerCards{
  display: flex;
  flex-direction: column;
}

.addPlayer{
  color: rgb(253, 253, 253);
  font-weight: bold;
  border-radius: 3px;
  background-color: rgb(64, 135, 194);
  font-size: 0.8em;
  padding: 0 10px;
  border: none;
}

.gameInfo{
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 10px;
}

.gameOption{
  display: flex;
  gap: 20px;
  background-color: rgb(10, 31, 51);
  padding: 10px 10px;
}

.players{
  display: flex;
}

.playerList{
  display: flex;
  gap: 10px;
}

.addedPlayer{
  border-radius: 3px;
  padding: 5px;
  display: flex;
  align-self: center;
  gap: 10px;
  font-size: 0.8em;
  background-color: rgb(31, 115, 129);
}

.addedPlayer button {
  color: white;
  font-weight: bold;
  border-radius: 3px;
  background-color: #e24141;
  border: none;
}

select{
  background-color: rgb(15, 70, 95);
  border: 1px solid rgba(255, 255, 255, 0.507);
  border-radius: 5px;
  color: white;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0 10px;
}

.addInput{
  font-size: 0.65em;
  font-weight: bold;
  background-color: rgb(246, 253, 255);
  border: none;
  padding: 0 10px;
}


.gameStatus{
  display: flex;
  padding: 20px;
  width: 100%;
  flex-direction: column;
  color: white;
  background-color: rgb(2, 22, 29);
  font-size: 1.5em;
  font-weight: bold;
}

.gameStatusWrapper{
  display: flex;
  width: 100%;
}

.startGameButton{
  background-color: rgb(19, 88, 116);
  font-size: 1em;
  border: none;
  width: 100%;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  margin-top: 2%;
  color: white;
}

.startGameButton:hover{
  background-color: rgb(41, 107, 136);
}

button{
  cursor: pointer;
}

.modal{
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.445);
  position: fixed;
  z-index: 1;
}

.modalContent{
display: flex;
flex-direction: row;
justify-content: center;
align-items: start;
background-color: #010d13;
margin: 15% auto;
height: fit-content;
width: fit-content;
}

.close{
align-self: start;
background-color: rgb(216, 77, 77);
color: white;
border: none;
font-size: 1.3em;
padding: 5px 10px;
}

.scoreBoard{
  font-size: 0.8em;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  max-height: 30vh;
  overflow-y: scroll;
  color: rgb(255, 255, 255);
}

.scoreRecords{ 
  border-radius: 5px;
  width: 100%;
  text-align: left;
  background-color: rgb(5, 27, 39);
}

.scoreRecordsHead{
  background-color: rgba(13, 63, 71, 0.479);
}

.scoreRecordsHead th{
  padding: 10px;
}

.scoreRecordsBody td{
  padding: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
} 

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}





